.navbar {
    border-bottom: 2px solid #ddd;
}

.fondo {
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
}

.titulo {
    color: black;
    padding: 60px;
    justify-content: center;
}

.color1 {
    background-color: #ECF0F1;
}

.letra {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.letra1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}