.titulo {
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.padi {
    padding: 10px;
}

.card {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.card.visible {
    opacity: 1;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.card img {
    transition: transform 0.3s ease-in-out;
}

img {
    height: 98%;
    width: 98%;
    max-height: 100px;
    max-width: 100px;
}

@media (max-width: 768px) {

}