.titulo {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.titulo1 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 30px;
    margin-left: 10%;
    font-weight: bold;
}

strong {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li {
    padding: 5px;
}